<%- include (partials/header.ejs) %>
<%- include (partials/navbar.ejs) %>

<div class="conteiner">
    <div class="card">
        <div class="card-header">
            <h1>Editar Pedidos</h1>
            <hr>
        </div>    
        <div class="card-body">
            <form action="/pedidos/update" method="post">
                <label>Numero:</label>
                <input type="text" name="numero" id="numero" value="<%= pedido.numero %>" class="form-control" required>
                <label>Valor:</label>
                <input type="text" name="valor" id="valor" value="<%= pedido.valor %>" class="form-control" required>
                <input type="hidden" name="id" value="<%= pedido.id %>">
            </form>
        </div>
    </div>
</div>


<%- include ('partials/footer.ejs') %>